body{

  background-image: url("Back.jpeg");

background-size: 100%;

........////ANA SAYFA////.......

}

#o{

padding: 10px;

  border-radius: 5px;

display: flex;

  justify-content: center;

  align-items: center;

  

  

  

}

#log{

width: 200px;

  padding: 5px;

   display: block;

  margin-left: auto;

  margin-right: auto;

}

#na{

text-align: center;

  padding: 30px;

  text-decoration: none;

  font-family: 'Geologica', sans-serif;

color: white;

  font-size: 22px;

text-shadow: 2px 2px 4px #000000;

  

}

#lin{

  font-size: 22px;

color: white;

  font-family: 'Geologica', sans-serif;

text-shadow: 2px 2px 4px #000000;

  text-align: center;

}

#i{

  background-color:#1f1e1e;

height: 930px;

}

#d{

  color: #fffafa;

  font-family: 'Geologica', sans-serif;

  font-size: 28px;

text-align: center;

  padding: 10px;

  text-shadow: 2px 2px 4px #000000;

}

  #ss{

    text-align: center;

  color: #878584;

  font-family: 'Geologica', sans-serif;

    margin-top: 25px;

  }

#g{

  padding: 2px;

  font-size: 15px;

  color: darkorange;

  font-family: 'Geologica', sans-serif;

  text-align: center;

  text-shadow: 2px 2px 4px #000000;

}

#ga{

  text-align: center;

  color: #fffafa;

  font-family: 'Geologica', sans-serif;

  text-shadow: 2px 2px 4px #000000;

}

#haz{

  width: 400px;

  padding: 5px;

   display: block;

  margin-left: auto;

  margin-right: auto;

  border-radius: 4px;

  box-shadow: 10px 5px 5px black;

}

#hs{

  text-align: center;

  color: #fffafa;

  font-family: 'Geologica', sans-serif;

  text-shadow: 2px 2px 4px #000000;

}

#bb{

  background-color: #474747;

  height: 220px;

}

#n{

  color: #fffafa;

  font-family: 'Geologica', sans-serif;

  font-size: 28px;

text-align: center;

  padding: 10px;

  text-shadow: 2px 2px 4px #000000;

}

#y{

  text-align: center;

  color: #fffafa;

  font-family: 'Geologica', sans-serif;

  text-shadow: 2px 2px 4px #000000;

}

#llo{

  width: 120px;

padding: 5px;

   display: block;

  margin-left: auto;

  margin-right: auto;

}

#hhh{

  text-align: center;

  color: white;

  text-shadow: 2px 2px 4px #000000;

  font-family: 'Geologica', sans-serif;

}

#co{

  color: #878584;

  font-family: 'Geologica', sans-serif;

  text-align: center;

}

#bi{

     background-color:#1f1e1e;

height: 1000px;

 

  }

  #D{

    font-family: 'Geologica', sans-serif;

    text-align: center;

    color: white;

    

  margin-top: 10px;

  }

  #w{

    text-align: center;

    color: white;

    font-family: 'Inter', sans-serif;

  

}

  .renkli-hr {

  height: 2px;

  background-color: darkorange; /* Renk kodunu istediğiniz renk ile değiştirin */

  border: none;

    width: 100px;

    margin-left: 580px;

}

.renkli-hr div {

  height: 100%;

  width: 50px;

  background-color: inherit;

}

#tar{

  text-align: center;

  color: darkorange;

  font-family: 'Inter', sans-serif;

}

  #bak{

    color: white;

    font-family: 'Inter', sans-serif;

    text-align: center;

  }

  #si{

    background-color:#1f1e1e;

height: 400px;}
