body{

  background-image: url("Back.jpeg");

background-size: 100%;

........////ANA SAYFA////.......

}

#o{

padding: 10px;

  border-radius: 5px;

display: flex;

  justify-content: center;

  align-items: center;

  

  

  

